/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  .info-box {
    color: #fff;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 100px 0 30px 0;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    height: 375px;
    margin-left:75%;
    i {
      font-size: 32px;
      color: #0794A9;
      border-radius: 50%;
      padding: 8px;
      border: 2px dotted #fff7e5;
    }
    h3 {
      font-size: 20px;
      color: #213b52;
      font-weight: 700;
      margin: 10px 0;
    }
    p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
      color: #5289ba;
    }
  }
  .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
    }
    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
      :before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
    }
  }
}
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
 
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
    background-color: #0794A9;
  }
  .contact .php-email-form input {
    padding: 10px 15px;
    border-radius: 5px;
  }
  .contact .php-email-form textarea {
    padding: 12px 15px;
    border-radius: 5px;
  }
  .contact .php-email-form button[type=submit] {
    background: #0794A9;
    border-radius: 5px;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #0794A9;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }