
/*--------------------------------------------------------------
# Hero Section => INICIO
--------------------------------------------------------------*/
#hero {
    width: 100%;
    background: rgba(31, 29, 29, 0.986);
    
  }
  #hero h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #d2e0ed;
    font-family: "Poppins", sans-serif;
    
  }
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 22px;
  }
  #hero .btn-get-started {
    color: #fff;
    border-radius: 50px;
    padding: 8px 35px 10px 35px;
    border: 2px solid #0794A9;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: rgba(0, 0, 0, 0.815);
    margin: 0.5% 32%;
  
  }
  
  #hero .btn-get-started:hover {
    background: transparent;
    color: #fff;
  }
  
  #hero .hero-img img {
    width: 100%;
  }
  @media (max-width: 991px) {
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    #hero {
      -moz-text-align-last: center;
      text-align-last: center;
     
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
      margin: 20px 20px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin: 20px 20px;
    }
    #hero .hero-img img {
      width: 50%;
      margin-top:50px;
    }
  }
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
      margin: 10px 10px;
      
      
      
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin: 10px 10px;
    }
    #hero .hero-img img {
      width: 80%;
    }
    #hero .btn-get-started{
      margin: 10% 25%;
    }
  
  }
  