
/*--------------------------------------------------------------
# Hero Section => INICIO
--------------------------------------------------------------*/
.hero {
    width: 100%;
    background: rgba(31, 29, 29, 0.986);
    h1 {
      margin: 0 0 15px 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #d2e0ed;
      font-family: "Poppins", sans-serif;
    }
    h2 {
      color: #fff;
      margin-bottom: 30px;
      font-size: 22px;
    }
    .btn-get-started {
      color: #fff;
      border-radius: 50px;
      padding: 8px 35px 10px 35px;
      border: 2px solid #0794A9;
      transition: all ease-in-out 0.3s;
      display: inline-block;
      background: rgba(0, 0, 0, 0.815);
      margin: 0.5% 32%;
      :hover {
        background: transparent;
        color: #fff;
      }
    }
    .hero-img img {
      width: 80%;
      margin: 56px 40px;
    }
  }
 
  
   
  @media (max-width: 991px) {
    .hero{
      .hero-img {
        text-align: center;
        img {
          width: 60%;
        }
      }
    } 
    
  }
  @media (max-width: 768px) {
    .hero {
      -moz-text-align-last: center;
      text-align-last: center;
      h1 {
        font-size: 28px;
        line-height: 36px;
        margin: 20px 20px;
      }
      h2 {
        font-size: 18px;
        line-height: 24px;
        margin: 20px 20px;
      }
      .hero-img  {
       img{
        width: 50%;
        margin: 30px 5px;
       }
      }
    }
  }
  @media (max-width: 575px) {
    .hero{
      h1 {
        font-size: 28px;
        line-height: 36px;
        margin: 10px 10px;
        text-align: center;
      
      }
      h2 {
        font-size: 18px;
        line-height: 24px;
        margin: 10px 10px;
        text-align: center;
      }
      .hero-img  {
       img{
        width: 80%;
       }
      }
      .btn-get-started{
        margin: 10% 25%;
      }
    }
  }
  