
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team{
  .member {
    text-align: center;
    margin-bottom: 20px;
    .pic {
      margin-bottom: 15px;
      overflow: hidden;
      min-height: 260px;
      img {
        max-width: 100%;
        
      }
    }
    
    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
      color: #fff;
    }
    span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }
    .social {
      margin-top: 15px;
      a {
        color: #5289ba;
        transition: 0.3s;
        :hover {
          color: #0794A9;
        }
      }
      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}

