
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #fff;
    font-size: 14px;
  
    background: rgba(31, 29, 29, 0.986);
  }
  .footerGift{
    display: flex;
    justify-content: center;
    margin-left:40% ;
    margin-top: -350px;
  }
  #footer .footer-top {
    padding: 100px 0;
    margin-left:20% ;
  }
  #footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
   
  }
  #footer .footer-top p {
    font-size: 15;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #0794A9;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #fcb102;
  }
  #footer .footer-top .social-links {
    margin-top: 30px;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #284864;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #0794A9;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-bottom {
    border-top: 1px solid #fff;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #footer .copyright {
    text-align: center;
  }
  #footer .credits {
    display: none;
    font-size: 13px;
  }
  .logoFooter{
    width: 20%;
  }
  @media (max-width: 768px) {
    #footer .copyright, #footer .credits {
      padding: 5px;
      float: none;
      text-align: ceneter;
    }
  }
  @media (max-width:426px){
    .footerGift{
      
      margin-left:0 ;
      margin-top: 0px;
      height: auto;
    }
    #footer .footer-top {
      padding: 40px 0;
      margin-left:22% ;
    }
  }
  @media (max-width:321px){
    #footer .footer-top {
      padding: 40px 0;
      margin-left:15% ;
    }
  }