
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #0794A9;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
      margin-right: 20px;
      margin-top: -5px;
      font-size: 35px;
    }
    .bi-x{
      color: #fff;
      font-size: 40px;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(18, 33, 46, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    overflow-y: auto;
    transition: 0.3s;
    margin: 10px 20px;
    background-color: rgba(0, 0, 0, 0.815);
  }
  .navbar-mobile ul li {
    margin-top: 25px;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #213b52;
    display: block;
    color: #fff;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #0794A9;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
    display: block;
    border: 0;
    color: #fff;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #0794A9;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  @media (max-width:320px) {
    .logoEraDig{
    display: none;
    }
    
  }