/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    a {
        color: #0794A9;
        text-decoration: none;
      }
      a:hover {
        color: #0794A9;
        text-decoration: none;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif;
      }
  }


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  
}

.section-bg {
  background: rgba(0, 0, 0, 0.911);
  margin-top: -1.3%;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #0794A9;
    ::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    ::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #0794A9;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
  p {
    margin-bottom: 0;
  }
}

 
  
 
  
 
  
  
  