/*Colores*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #fff; }
  body a {
    color: #0794A9;
    text-decoration: none; }
  body a:hover {
    color: #0794A9;
    text-decoration: none; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Raleway", sans-serif; }

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden; }

.section-bg {
  background: rgba(0, 0, 0, 0.911);
  margin-top: -1.3%; }

.section-title {
  text-align: center;
  padding-bottom: 30px; }
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #0794A9; }
    .section-title h2 ::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px); }
    .section-title h2 ::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #0794A9;
      bottom: 0;
      left: calc(50% - 20px); }
  .section-title p {
    margin-bottom: 0; }

/* Partials*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #213b52;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s; }
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0; }
  .back-to-top :hover {
    background: #0794A9;
    color: #fff; }
  .back-to-top .active {
    visibility: visible;
    opacity: 1; }

.row {
  display: flex;
  justify-content: center; }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0; }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center; }
    .navbar ul li {
      position: relative; }

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  color: #0794A9;
  white-space: nowrap;
  transition: 0.3s; }

.navbar a i, .navbar a:focus i {
  font-size: 15px;
  line-height: 0;
  margin-left: 5px; }

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff; }

.navbar .getstarted, .navbar .getstarted:focus {
  color: #fff;
  padding: 4px 25px 6px 25px;
  margin-left: 30px;
  border-radius: 50px;
  border: 2px solid #0794A9; }

.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  background: rgba(0, 0, 0, 0.815);
  color: #fff; }

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px; }

.navbar .dropdown ul li {
  min-width: 200px; }

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #3e6f9b; }

.navbar .dropdown ul a i {
  font-size: 12px; }

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #0794A9; }

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible; }

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden; }

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible; }

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%; }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%; } }

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0794A9;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0; }

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
    margin-right: 20px;
    margin-top: -5px;
    font-size: 35px; }
  .bi-x {
    color: #fff;
    font-size: 40px; }
  .navbar ul {
    display: none; } }

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(18, 33, 46, 0.9);
  transition: 0.3s;
  z-index: 999; }

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px; }

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  overflow-y: auto;
  transition: 0.3s;
  margin: 10px 20px;
  background-color: rgba(0, 0, 0, 0.815); }

.navbar-mobile ul li {
  margin-top: 25px; }

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #213b52;
  display: block;
  color: #fff;
  font-size: 26px;
  text-align: center;
  font-weight: bold; }

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #0794A9; }

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
  display: block;
  border: 0;
  color: #fff; }

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); }

.navbar-mobile .dropdown ul li {
  min-width: 200px; }

.navbar-mobile .dropdown ul a {
  padding: 10px 20px; }

.navbar-mobile .dropdown ul a i {
  font-size: 12px; }

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #0794A9; }

.navbar-mobile .dropdown > .dropdown-active {
  display: block; }

@media (max-width: 320px) {
  .logoEraDig {
    display: none; } }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  display: flex;
  justify-content: space-evenly; }
  .header .container {
    position: fixed;
    z-index: 997;
    box-shadow: 0px 0px 35px rgba(127, 137, 161, 0.25);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
    height: 50px;
    border: 2px solid #0794A9;
    border-radius: 5px;
    margin-top: 3px; }
    .header .container .logo h1 {
      font-size: 24px;
      margin: 0;
      padding: 10px 10px;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif; }
      .header .container .logo h1 a {
        color: #fff;
        text-decoration: none; }
        .header .container .logo h1 a img {
          padding: 0;
          margin: 0;
          max-height: 50px; }
        .header .container .logo h1 a span, .header .container .logo h1 a a:hover span {
          color: #0794A9; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #fff;
  font-size: 14px;
  background: rgba(31, 29, 29, 0.986); }

.footerGift {
  display: flex;
  justify-content: center;
  margin-left: 40%;
  margin-top: -350px; }

.footer .footer-top {
  padding: 100px 0;
  margin-left: 20%; }

.footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0; }

.footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0; }

.footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px); }

.footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #0794A9;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); }

.footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #fcb102; }

.footer .footer-top .social-links {
  margin-top: 30px; }

.footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #284864;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s; }

.footer .footer-top .social-links a:hover {
  background: #0794A9;
  color: #fff;
  text-decoration: none; }

.footer .footer-bottom {
  border-top: 1px solid #fff;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }

.footer .copyright {
  text-align: center; }

.footer .credits {
  display: none;
  font-size: 13px; }

.logoFooter {
  width: 20%; }

@media (max-width: 768px) {
  .footer .copyright, .footer .credits {
    padding: 5px;
    float: none;
    text-align: ceneter; } }

@media (max-width: 426px) {
  .footerGift {
    margin-left: 0;
    margin-top: 0px;
    height: auto; }
  .footer .footer-top {
    padding: 40px 0;
    margin-left: 22%; } }

@media (max-width: 321px) {
  .footer .footer-top {
    padding: 40px 0;
    margin-left: 15%; } }

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #fff; }

.features .content ul {
  list-style: none;
  padding: 0; }
  .features .content ul li {
    padding-bottom: 10px; }
  .features .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #0794A9; }

.features .content p :last-child {
  margin-bottom: 0; }

.features .content + .content {
  margin-top: 100px; }

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px; }

.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
  position: relative; }

.pricing .featured-badge {
  display: inline-block;
  position: absolute;
  top: -11px;
  left: calc(50% - 49px);
  background: #0794A9;
  color: #fff;
  text-align: center;
  line-height: 1;
  border-radius: 50px;
  padding: 4px 20px 5px 20px;
  font-size: 12px;
  text-transform: uppercase; }

.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 28px; }

.pricing h4 {
  font-size: 46px;
  color: #0794A9;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px; }

.pricing h4 span {
  color: #bababa;
  font-size: 18px;
  display: block; }

.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px; }

.pricing ul li {
  padding-bottom: 12px; }

.pricing ul i {
  color: #0794A9;
  font-size: 18px;
  padding-right: 4px; }

.pricing ul .na {
  color: #ccc; }

.pricing ul .na i {
  color: #ccc; }

.pricing ul .na span {
  text-decoration: line-through; }

.pricing .get-started-btn {
  background: #213b52;
  display: inline-block;
  padding: 6px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  transition: 0.3s; }

.pricing .get-started-btn:hover {
  background: #0794A9; }

.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
  border: 1px solid #0794A9; }

.pricing .featured .get-started-btn {
  background: #0794A9; }

.pricing .featured .get-started-btn:hover {
  background: #0794A9; }

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto; } }

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto; } }

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto; } }

/**************************************
# Logo wspp
--------------------------------------------------------------*/
.btn-wsp {
  background-image: url("assets/img/icono-wspp");
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 20px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }
  .btn-wsp :hover {
    text-decoration: none;
    color: #0df053;
    background: #fff; }

/*Sections*/
/*--------------------------------------------------------------
# Hero Section => INICIO
--------------------------------------------------------------*/
.hero {
  width: 100%;
  background: rgba(31, 29, 29, 0.986); }
  .hero h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #d2e0ed;
    font-family: "Poppins", sans-serif; }
  .hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 22px; }
  .hero .btn-get-started {
    color: #fff;
    border-radius: 50px;
    padding: 8px 35px 10px 35px;
    border: 2px solid #0794A9;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: rgba(0, 0, 0, 0.815);
    margin: 0.5% 32%; }
    .hero .btn-get-started :hover {
      background: transparent;
      color: #fff; }
  .hero .hero-img img {
    width: 80%;
    margin: 56px 40px; }

@media (max-width: 991px) {
  .hero .hero-img {
    text-align: center; }
    .hero .hero-img img {
      width: 60%; } }

@media (max-width: 768px) {
  .hero {
    -moz-text-align-last: center;
    text-align-last: center; }
    .hero h1 {
      font-size: 28px;
      line-height: 36px;
      margin: 20px 20px; }
    .hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin: 20px 20px; }
    .hero .hero-img img {
      width: 50%;
      margin: 30px 5px; } }

@media (max-width: 575px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
    margin: 10px 10px;
    text-align: center; }
  .hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 10px;
    text-align: center; }
  .hero .hero-img img {
    width: 80%; }
  .hero .btn-get-started {
    margin: 10% 25%; } }

/*--------------------------------------------------------------
# About => SOBRE NOSOTROS
--------------------------------------------------------------*/
.about {
  height: 750px; }
  .about .content {
    margin-left: 50px;
    padding: 30px 0; }
    .about .content h3 {
      font-weight: 700;
      font-size: 34px;
      color: #0794A9; }
    .about .content p {
      margin-bottom: 0; }
    .about .content .icon-box {
      margin-top: 25px; }
      .about .content .icon-box h4 {
        font-size: 20px;
        font-weight: 700;
        margin: 5px 0 10px 60px;
        color: #0794A9; }
        .about .content .icon-box h4 a {
          color: #0794A9;
          transition: 0.3s; }
          .about .content .icon-box h4 a :hover {
            color: #0794A9; }
      .about .content .icon-box i {
        font-size: 48px;
        float: left;
        color: #0794A9; }
      .about .content .icon-box p {
        font-size: 15px;
        color: #fff;
        margin-left: 60px; }
  .about .image {
    background: url("https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80") center center no-repeat;
    background-size: cover;
    min-height: 400px; }

@media (max-width: 1025px) {
  .about {
    height: auto; }
    .about .content {
      margin-left: 10px;
      margin-right: 10px; }
    .about .image img {
      max-width: 100%; } }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  padding-bottom: 40px; }
  .services .card {
    background: rgba(0, 0, 0, 0.911);
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
    z-index: 1; }
    .services .card .card-img {
      width: calc(100% + 60px);
      margin-left: -30px;
      overflow: hidden;
      z-index: 9;
      border-radius: 0; }
      .services .card .card-img img {
        max-width: 100%;
        transition: all 0.3s ease-in-out; }
    .services .card .card-body {
      z-index: 10;
      border-top: 4px solid #fff;
      padding: 30px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      margin-top: -60px;
      transition: 0.3s;
      background-color: rgba(0, 0, 0, 0.911); }
      .services .card .card-body .card-title {
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px; }
        .services .card .card-body .card-title a {
          color: #0794A9;
          transition: 0.3s; }
      .services .card .card-body .card-text {
        color: #fff; }
  .services .read-more a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s; }
    .services .read-more a :hover {
      color: #0794A9; }

.services .card:hover img {
  transform: scale(1.1); }

.services .card:hover .card-body {
  border-color: #0794A9; }

.services .card:hover .card-body .card-title a {
  color: #0794A9; }

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#main {
  background-color: rgba(0, 0, 0, 0.911); }

.miBebe {
  height: 352px;
  width: 900px; }

.veterinaria {
  height: 352px;
  width: 900px; }

.bazar {
  height: 352px;
  width: 900px; }

.portfolio .portfolio-item {
  margin-bottom: 30px; }

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center; }

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out; }

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #0794A9; }

.portfolio #portfolio-flters li:last-child {
  margin-right: 0; }

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1; }

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(33, 59, 82, 0.6);
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2; }

.portfolio .portfolio-wrap img {
  transition: 0.3s; }

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  top: calc(50% - 36px);
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s; }

.portfolio .portfolio-wrap .portfolio-links a {
  color: #0794A9;
  line-height: 0;
  text-align: center;
  width: 36px;
  height: 36px;
  display: inline-block;
  transition: 0.3s; }

.portfolio .portfolio-wrap .portfolio-links a i {
  font-size: 32px;
  line-height: 0; }

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff; }

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s; }

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600; }

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase; }

.portfolio .portfolio-wrap:hover::before {
  left: 0; }

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  top: calc(50% - 18px); }

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  bottom: 0; }

/*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
.portfolio {
  padding-bottom: 40px; }

.portfolio .card {
  background: rgba(0, 0, 0, 0.911);
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
  background: transparent;
  z-index: 1; }

.portfolio .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9; }

.portfolio .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out; }

.portfolio .card-body {
  z-index: 10;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.911); }

.portfolio .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px; }

.portfolio .card-title a {
  color: #0794A9;
  transition: 0.3s; }

.portfolio .card-text {
  color: #fff; }

.portfolio .read-more a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s; }

.portfolio .read-more a:hover {
  color: #0794A9; }

.portfolio .card:hover img {
  transform: scale(1.1); }

.portfolio .card:hover .card-body {
  border-color: #0794A9; }

.portfolio .card:hover .card-body .card-title a {
  color: #0794A9; }

@media (max-width: 426px) {
  .miBebe {
    height: auto; }
  .veterinaria {
    height: auto; }
  .bazar {
    height: auto; } }

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 20px; }
  .team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 260px; }
    .team .member .pic img {
      max-width: 100%; }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff; }
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px; }
  .team .member .social {
    margin-top: 15px; }
    .team .member .social a {
      color: #5289ba;
      transition: 0.3s; }
      .team .member .social a :hover {
        color: #0794A9; }
    .team .member .social i {
      font-size: 18px;
      margin: 0 2px; }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 100px 0 30px 0;
  background: #fff;
  border-radius: 5px;
  width: 500px;
  height: 375px;
  margin-left: 75%; }
  .contact .info-box i {
    font-size: 32px;
    color: #0794A9;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #fff7e5; }
  .contact .info-box h3 {
    font-size: 20px;
    color: #213b52;
    font-weight: 700;
    margin: 10px 0; }
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: #5289ba; }

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
  border-radius: 5px; }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600; }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600; }
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px; }
    .contact .php-email-form .loading :before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      -webkit-animation: animate-loading 1s linear infinite;
      animation: animate-loading 1s linear infinite; }

.contact .php-email-form .error-message br + br {
  margin-top: 25px; }

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px; }

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #0794A9; }

.contact .php-email-form input {
  padding: 10px 15px;
  border-radius: 5px; }

.contact .php-email-form textarea {
  padding: 12px 15px;
  border-radius: 5px; }

.contact .php-email-form button[type=submit] {
  background: #0794A9;
  border-radius: 5px;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s; }

.contact .php-email-form button[type=submit]:hover {
  background: #0794A9; }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
